.form-control {
    border: 1px solid #bf1525;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.search-bar div:last-child {
    padding: 7px 15px;
    border-radius: 10px;
}

.iconSearch{
    background-color: #bf1525;
    color:white
}