.form-control {
    border: 1px solid rgba(241, 90, 90, 0.621);
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search-bar div:last-child {
    background-color: rgb(254, 84, 84);
    padding: 7px 15px;
    border-radius: 10px;
}