.search-bar {
    margin-right: 10vw;
    width: 20vw
}

.navbar a {
    color: red;
    text-decoration: none;
    padding: 1vw;
    font-size: 1.5em;
    font-weight: 700;
}



.me-auto a:nth-child(1n+1) {
    color: rgb(42, 41, 41);
    font-size: 1.1em;
    font-weight: 300;
}



